# Text
Chuẩn hóa dữ liệu text:

In [ ]:
import pandas as pd
import numpy as np

## Custom function
- `remove_punctuation` : Xóa bỏ ký tự đặc biệt và đuôi float .0
- `clean`: handle string-nan, space, end_dotzero, punctuation, unidecode

In [ ]:
class text:
    """Chuẩn hóa dữ liệu text
    """
    def __init__():
        pass

    def remove_punctuation(str_data):
        """
        Xóa bỏ ký tự đặc biệt và đuôi float .0
        """
        str_data = re.sub(' +', ' ', str(str_data)).strip()
        for e in ['.0','.00',',0',',00']:
            if str_data.endswith(e):
                str_data = str_data[:-len(e)]
                break
        str_data = str_data.translate(str.maketrans('', '', punctuation)).strip()
        return str_data

    def clean(value, space = True, end_dotzero = False, punc = False, nan = True, use_unidecode = False):
        """Convert nan/none value ở dạng string thành NaN

        Returns:
            _type_: _description_
        """
        def space_clean(value):
            return re.sub(' +', ' ', value).strip()

        def end_dotzero_clean(value):
            for e in ['.0','.00',',0',',00']:
                if value.endswith(e):
                    value = value[:-len(e)]
                    break
            return value

        def punctuation_clean(value):
            return value.translate(str.maketrans('', '', punctuation))

        def nan_clean(value):
            value = str(value)
            nan_list = ['', '#n/a', '#n/a n/a', '#na',
                         '#ref!', '(null)', ',', '-1.#ind',
                         '-1.#qnan', '-nan', '.', '1.#ind',
                         '1.#qnan', '<na>', 'n/a', 'na',
                         'nan', 'none', 'null',]
            condi = (value.lower() in nan_list)
            if condi :
                return np.nan
            else:
                return value

        if (value is np.nan) or (value is None) or (nan_clean(value) is np.nan): # None or nan
            return np.nan
        if type(value) == str:
            if space: value = space_clean(value)
            if end_dotzero: value = end_dotzero_clean(value)
            if nan: value = nan_clean(value)
            if punc: value = punctuation_clean(value)
            if use_unidecode: value = unidecode(value)
        return value

## Dataprep clean text
The default pipeline for the `clean_text()` function is the following:

- `fillna`: Replace all null values with NaN.
- `lowercase`: Convert all characters to lowercase.
- `remove_digits`: Remove numbers.
- `remove_html` Remove HTML tags.
- `remove_urls`: Remove URLs.
- `remove_punctuation`: Remove punctuation marks.
- `remove_accents`: Remove accent marks.
- `remove_stopwords`: Remove stopwords.
- `remove_whitespace`: Remove extra spaces, and tabs and newlines.

In [10]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "text": [
            "'ZZZZZ!' If IMDb would allow one-word reviews, that's what mine would be.",
            "The cast played Shakespeare.<br /><br />Shakespeare lost.",
            "Simon of the Desert (Simón del desierto) is a 1965 film directed by Luis Buñuel.",
            "[SPOILERS]\nI don't think I've seen a film this bad before {acting, script, effects (!), etc...}",
            "<a href='/festivals/cannes-1968-a-video-essay'>Cannes 1968:\tA video essay</a>",
            "Recap thread for @RottenTomatoes excellent panel, hosted by @ErikDavis with @FilmFatale_NYC and @AshCrossan.",
            "#GameOfThrones: Season 8 is #Rotten at 54% on the #Tomatometer.  But does it deserve to be?",
            "Come join and share your thoughts on this week's episode: https://twitter.com/i/spaces/1fake2URL3",
            123,
            np.nan,
            "NULL",
            '123.0'
        ]
    }
)
df

                                                 text
0   'ZZZZZ!' If IMDb would allow one-word reviews,...
1   The cast played Shakespeare.<br /><br />Shakes...
2   Simon of the Desert (Simón del desierto) is a ...
3   [SPOILERS]\nI don't think I've seen a film thi...
4   <a href='/festivals/cannes-1968-a-video-essay'...
5   Recap thread for @RottenTomatoes excellent pan...
6   #GameOfThrones: Season 8 is #Rotten at 54% on ...
7   Come join and share your thoughts on this week...
8                                                 123
9                                                 NaN
10                                               NULL
11                                              123.0

In [9]:
from dataprep.clean import clean_text
clean_text(df, "text")

/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(
/Users/khongdat/miniforge3/lib/python3.10/site-packages/dask/dataframe/core.py:6973: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

                                                 text
0   zzzzz imdb would allow one word reviews mine w...
1            cast played shakespeare shakespeare lost
2   simon desert simon del desierto film directed ...
3   spoilers think seen film bad acting script eff...
4                                  cannes video essay
5   recap thread rottentomatoes excellent panel ho...
6     gameofthrones season rotten tomatometer deserve
7               come join share thoughts week episode
8
9                                                 NaN
10                                                NaN